* {
			margin: 0;
			padding: 0;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

body{
	margin: 0;
	padding: 0;
	background:url(../img/logo_unad.png)no-repeat fixed center center #333;
	background-size: cover;
}
.navegacion {
		width: 1000px;
		margin: 30px auto;
		background: #fff;

	}
	.navegacion ul {
		list-style: none;
	}
	.menu > li {
        position: relative;
		display: inline-block;
	}
	.menu > li> a {
		display: block;
		padding: 15px 20px;
		color: #353535;
		font-family: 'Open sans';
		text-decoration: none;
	}
	.menu li a:hover {
		color: #CE7D35;
		transition: all 3s;
	}
	/* submenu*/
	.submenu1 {
		position: absolute;
		background: #333333;
		width: 120%;
		visibility: hidden;
		opacity: 0;
		transition: opcitity 1.5s;
	}

.submenu1 li a {
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}	

.menu li:hover .submenu1 {
	visibility: visible;
	opacity: 1;
}
.submenu2 {
		position: absolute;
		background: #333333;
		width: 120%;
		visibility: hidden;
		opacity: 0;
		transition: opcitity 1.5s;
	}

.submenu2 li a {
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}	

.menu li:hover .submenu2 {
	visibility: visible;
	opacity: 1;
}
.submenu3 {
		position: absolute;
		background: #333333;
		width: 120%;
		visibility: hidden;
		opacity: 0;
		transition: opcitity 1.5s;
	}

.submenu3 li a {
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}	

.menu li:hover .submenu3 {
	visibility: visible;
	opacity: 1;
}
