* {
			margin: 0;
			padding: 0;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
h1 {
	text-align: center;
	color: rgb(59,29,83);
	margin: 30px;
}

h2 {
	color: rgb(59,29,83);
	margin: 40px;
}
h3 {
	color: rgb(59,29,83);
	margin: 40px 20px;
}
h4 {
	text-align: center;
	color: rgb(59,29,83);
	margin: 30px 20px;
}
h5 {
	text-align: center;
	*color: rgb(131,25,8);
	margin: 30px 20px;
color: rgb(69, 10, 96);
}
p {
	line-height: 30px;
	color: rgb(59,29,83);
    margin: 20px 20px;
}
html {
	font-size: 16px;
}
.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 5.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}
.con {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}
.icon-twitter {
	background: #339DC5;

}
.con:first-child {
	border-radius: 1rem 0 0 0;
}
.icon:last-child {
border-radius: 0 0 0 1rem;
}

body{
	margin: 0;
	padding: 0;
	background:url(../img/logo_unad.png)no-repeat fixed center center #333;
	background-size: cover;
}

#wrapper{
	border-radius: 5px;
	background-color: #ccc;
	height: 900px;
	margin: 0px auto;
	width: 700px;
}

	.navegacion {
		width: 700px;
		margin: 20px auto;
		background: #fff;

	}
	.navegacion ul {
		list-style: none;
	}
	.menu > li {
        position: relative;
		display: inline-block;
	}
	.menu > li> a {
		display: block;
		padding: 15px 20px;
		color: #353535;
		font-family: 'Open sans';
		text-decoration: none;
	}
	.menu li a:hover {
		color: #CE7D35;
		transition: all 3s;
	}
	/* submenu*/
	.submenu1 {
		position: absolute;
		background: #333333;
		width: 120%;
		visibility: hidden;
		opacity: 0;
		transition: opcitity 1.5s;
	}

.submenu1 li a {
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}	

.menu li:hover .submenu1 {
	visibility: visible;
	opacity: 1;
}
.submenu2 {
		position: absolute;
		background: #333333;
		width: 120%;
		visibility: hidden;
		opacity: 0;
		transition: opcitity 1.5s;
	}

.submenu2 li a {
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}	

.menu li:hover .submenu2 {
	visibility: visible;
	opacity: 1;
}
.submenu3 {
		position: absolute;
		background: #333333;
		width: 120%;
		visibility: hidden;
		opacity: 0;
		transition: opcitity 1.5s;
	}

.submenu3 li a {
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}	

.menu li:hover .submenu3 {
	visibility: visible;
	opacity: 1;
}
