h2 {
	text-align: center;
	color: rgb(69, 10, 96);
}
h3 {
	color: rgb(69, 10, 96);
}
article {
	border-radius: 10px;
	width: 50%;
	height: 800px;
	background: #ccc;
	margin: 20px auto;
	padding: 30px;
	border: 2px solid #000;	
}
li {
	list-style: none;
}
body{
	margin: 0;
	padding: 0;
	background:url(../img/logo_unad.png)no-repeat fixed center center #333;
	background-size: cover;
}
p {

	line-height: 30px;
	color: rgb(53, 36, 40);
	
}
img {
	margin: auto;
	display: block;
	border-radius: 2px;
	
}
div {
	line-height: 30px;
    color: rgb(53, 36, 40);

	float: left;
}
html {
	font-size: 16px;
}
.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 5.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}
.con {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}
.icon-twitter {
	background: #339DC5;

}
.con:first-child {
	border-radius: 1rem 0 0 0;
}
.icon:last-child {
border-radius: 0 0 0 1rem;
}

.navegacion {
		width: 800px;
		margin: 20px auto;
		background: #fff;

	}
	.navegacion ul {
		list-style: none;
	}
	.menu > li {
        position: relative;
		display: inline-block;
	}
	.menu > li> a {
		display: block;
		padding: 15px 20px;
		color: #353535;
		font-family: 'Open sans';
		text-decoration: none;
	}
	.menu li a:hover {
		color: #CE7D35;
		transition: all 3s;
	}
	/* submenu*/
	.submenu1 {
		position: absolute;
		background: #333333;
		width: 120%;
		visibility: hidden;
		opacity: 0;
		transition: opcitity 1.5s;
	}

.submenu1 li a {
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}	

.menu li:hover .submenu1 {
	visibility: visible;
	opacity: 1;
}
.submenu2 {
		position: absolute;
		background: #333333;
		width: 120%;
		visibility: hidden;
		opacity: 0;
		transition: opcitity 1.5s;
	}

.submenu2 li a {
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}	

.menu li:hover .submenu2 {
	visibility: visible;
	opacity: 1;
}
.submenu3 {
		position: absolute;
		background: #333333;
		width: 120%;
		visibility: hidden;
		opacity: 0;
		transition: opcitity 1.5s;
	}

.submenu3 li a {
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}	

.menu li:hover .submenu3 {
	visibility: visible;
	opacity: 1;
}
